*:focus {
  outline: none;
}

body {
  background-color: #323333;
  color: #fff;
  font-size: 16px;
}

#sect {
  width: 6em;
  height: 6em;
  margin: 20% auto 0;
}

#toggle {
  display: none;
}

.btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #0060ff;
  border: none;
  border-radius: 1em;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.btn .clk {
  display: block;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  overflow: hidden;
  border-color: white white;
  border-style: solid;
  border-width: 0.6em 0;
  border-radius: 0%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.btn .clk:before,
.btn .clk:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.6em;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  transition: all 0.5s ease-in-out;
}

#toggle:checked ~ .clk {
  border-radius: 50%;
  border-width: 0.5em 0.5em;
  border-color: white white;
  transform: rotate(-315deg);
  transform-origin: center center;
  transition: all 0.5s ease-in-out;
}
#toggle:checked ~ .clk:before,
#toggle:checked ~ .clk:after {
  width: 45%;
  border-radius: 0.33em;
  height: 0.3em;
  transition: all 0.5s ease-in-out;
}
#toggle:checked ~ .clk:after {
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.5s ease-in-out;
}
#toggle:checked ~ .clk:active,
#toggle:checked ~ .clk:hover {
  background-color: rgba(0, 58, 153, 0.5);
}
#toggle:checked ~ .clk:active:before,
#toggle:checked ~ .clk:active:after,
#toggle:checked ~ .clk:hover:before,
#toggle:checked ~ .clk:hover:after {
  width: 60%;
  transition: all 0.25s ease-in-out;
}
